.side-bar {
  width: 16.5rem;
  max-width: unset;
}
.site-title {
  padding: 10px;
}
#top {
  max-width: unset;
  margin-left: 16.5rem;
  margin-right: 0px;
}

.table-wrapper {
  width: fit-content;
}
table {
  min-width: 20%;
  border-collapse: collapse;
}
td {
  background-color: #34313a;
}

@media (max-width: 800px) {
  .side-bar {
    width: unset;
  }
  #top {
    margin-left: 0px;
  }
}